<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--estilo css  -->
    <%- include("./partials/head.ejs") %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include("./partials/navitagion.ejs") %>

    <!-- main content -->
    <div class="container">
    <header class="text-center aling-items-center justify-content-center mt-5">
      <img src="/image/nodejs.png" alt="logo de nodeJS" class="w-25" />
    </header>
    <h1
      class="text-center mt-5 align-items-center justify-content-center fw-bold text-white"
      style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)"
    >
      NodeJS Project Basic
    </h1>

    <div class="row mt-5 mb-5 align-items-center justify-content-center">
      <div class="col-sm-4 mb-3">
        <div class="card bg-dark text-white">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">
              Construcción de esta página
            </h5>
            <p class="card-text">
              Te invitamos a explorar la documentación completa del proceso de
              creación de esta página, paso a paso, incluyendo la implementación
              de las innovadoras tecnologías que la hicieron posible.
              ¡Descúbrela ahora!
            </p>
            <a
              href="https://www.notion.so/NodeJS-Proyecto-B-sico-441d7774822848e9bfe618086ec31843?pvs=4"
              target="_blank"
              rel="noreferrer"
              class="btn btn-secondary"
              >Ir a Notion</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-4 mb-3">
        <div class="card bg-dark text-white">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">
              Explora nuestro código en GitHub
            </h5>
            <p class="card-text">
              Dentro de nuestro repositorio en GitHub, encontrarás el corazón de
              nuestra página web. Aquí puedes acceder al código fuente,
              adentrarte en nuestro proceso de desarrollo y explorar las
              tecnologías innovadoras que impulsan nuestro sitio.
            </p>
            <a
              href="https://github.com/Alemar16/NodeJS/tree/main/1-Servidor/1.4-NodeJS-Project_Basic"
              class="btn btn-secondary"
              >Ir a GitHub</a
            >
          </div>
        </div>
      </div>
    </div>
    </div>

    <footer class="bg-dark text-center text-white">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="HTTPS://www.facebook.com/"
            target="_blank"
            rel="noreferrer"
            role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Twitter -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="HTTPS://twitter.com/"
            target="_blank"
            rel="noreferrer"
            role="button"
            ><i class="fab fa-twitter"></i
          ></a>

          <!-- Google -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="HTTPS://www.google.com/"
            target="_blank"
            rel="noreferrer"
            role="button"
            ><i class="fab fa-google"></i
          ></a>

          <!-- Instagram -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="HTTPS://www.instagram.com/"
            target="_blank"
            rel="noreferrer"
            role="button"
            ><i class="fab fa-instagram"></i
          ></a>

          <!-- Linkedin -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="https://www.linkedin.com/in/armando-martínez-zambrano"
            target="_blank"
            rel="noreferrer"
            role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>

          <!-- Github -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="https://www.github.com/Alemar16"
            target="_blank"
            rel="noreferrer"
            role="button"
            ><i class="fab fa-github"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright:
        <a class="text-white" href="https://www.github.com/Alemar16"
          >Alemar16</a
        >
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>
